/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
  background-color: white;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
}

.login-div, .success-div{
  border-radius: 0.5em;
  background-color: #333333;
  color: white;
  font-family: 'Inter', sans-serif;
  max-height: 80vh;
  max-width: 40vw;
  margin: 0 auto;
  margin-top: 1em;
  padding: 5em;
}

.login-header {
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 24;
}

.login-button {
  background-color: rgba(227, 25, 54);
  border: none;
  color: white;
  padding: 10px 32px;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 0.2em;
}

.login-field {
  color: #C4C4C4;
}
