*{
  margin: 0;
}

.form-container{
  overflow: wrap;
  background-color: white;
  width: 100vw;
}

.news-events{
  display: inline-block;
  width: 100%;
}

label{
  display: inline-block!important;
}

.sport{
  margin-left: 5%;
}

.form-inner-container{
  background-color: #333333;
  color: white;
  width: 50vw;
  height: 100vh;
  padding-top: 20vh;
}

#subscriber_firstname{
  height: 25px;
  border-radius: 10px;
  resize: none;

}
#subscriber_lastname{
  height: 25px;
  border-radius: 10px;
  resize: none;
}
#subscriber_email{
  height: 25px;
  border-radius: 10px;
  resize: none;
}

.form-white-stuff{
  background-color: white;
  color: black;
}

hr {
  width: 100%;
}
