*{
  margin: 0;
}

.form-container{
  overflow: wrap;
  background-color: white;
  width: 100vw;
}

.news-events{
  display: inline-block;
}

label{
  display: inline-block!important;
}

.sport{
  margin-left: 20vw;
}

.form-inner-container{
  background-color: #333333;
  color: white;
  width: 50vw;
}
